.colored-img {
    filter: invert(45%) sepia(57%) saturate(549%) hue-rotate(194deg) brightness(89%) contrast(87%);
}

.card{
    background-color: #FAFAFA;
    border-color: #055286;
    transition: .3s
}

.card:hover{
    transition: .3s;
    background: #C5E3F7;
}
.color-text{
    color: #055286; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal
}